body {
    margin: 0;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
}

.container {
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 0px 1px #ccc;
    box-sizing: border-box;
}

/* header */
.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    color: white;
    background-color: #445161;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    width: 400px;
    float: left;
}

.main-header-title {
    display: block;
    margin: 0 0 10px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.main-header-list {
    margin: 0;
    list-style: none;
    padding: 0 0 0 20px;
    line-height: 24px;
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 15px;
    height: 12px;
    position: absolute;
    top: 8px;
    left: -18px;
    background-image: url('../img/tick.png');
    background-size: cover;
}

.main-header-img {
    display: block;
    width: 469px;
    min-height: 214px;
    background-color: #fff;
    float: right;
    color: #000;
}

/* about your product */
.about-product {
    width: 100%;
    display: flex;
}

.about-product-title {
    display: block;
    margin: 0;
    width: 100%;
    min-height: 28px;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}

.about-product-video {
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin-left: 100px;
}

.about-product-item {
    width: 649px;
    min-height: 63px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    margin: 20px 0 0 0;
}

/* dignity */
.dignity {
    width: 100%;
    display: flex;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-title {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}

.dignity-list {
    width: 48%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dignity-list-item {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0 0 0 25px;
}

.dignity-list-item:last-child {
    margin: 0;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #445161;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
}

/* screenshots */
.screenshots {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.screenshots-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-item {
    width: 48%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
    margin: 0;
}

.screenshots-photo {
    display: block;
    margin: 0 6px 0 0;
    background-color: #445161;
}

.screenshots-item-txt {
    width: 80%;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.screenshots-item-txt h3 {
    margin: 0 0 20px 0;
    color: #445161;
}

.screenshots-item-txt p {
    margin: 0 0 0 0;
}

/* reviews */
.review {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-title {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}

.review-item {
    width: 45%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.review-item:nth-child(4),
.review-item:nth-child(5) {
    margin: 0;
}

.review-item-img {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    margin-top: 14px;
    margin-left: 15px;
}

.review-item-txt {
    width: 400px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: justify;
    background-color: #ccc;
    position: relative;
}

.review-item-txt:before {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right: 20px solid #ccc;
    position: absolute;
    top: 35px;
    left: -30px;
}

.review-item-author {
    display: block;
    margin: 5px 0 0 0;
    color: #989898;
}

/* price */
.price {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.price-title {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}

.price-item {
    width: 30%;
    min-height: 100px;
    margin: 0 10px 0 0;
    padding: 0 0 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid;
    background-color: #445161;
    border: 1px solid #445161;
    color: #fff;
    border-radius: 7px;
}

.price-item:last-child {
    margin: 0;
}

.price-item-title,
.price-item-cost {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.price-item-cost {
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #fff;
    color: #445162;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.price-item-list {
    margin: 0 0 10px 0;
    padding: 0 0 0 7px;
    list-style-position: inside;
}

.price-item-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    width: 260px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: #445161;
    text-transform: uppercase;
}

.price-item-btn:hover {
    background-color: #445161;
    color: #fff;
}

.price-item-btn:active {
    background-color: #fff;
    color: #445161;
}

/* footer */
.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1280px;
    /* height: 509px; */
    padding: 50px;
    background-color: #445161;
}

.main-footer_title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.main-footer_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}

.main-footer_form input[type="text"],
.main-footer_form input[type="email"],
.main-footer_form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
}

.main-footer_form input[type="text"]:hover,
.main-footer_form input[type="email"]:hover,
.main-footer_form textarea:hover {
    background-color: gray;
    color: white;
    border-color: white;
}

.main-footer_form input[type="text"]:hover::placeholder,
.main-footer_form input[type="email"]:hover::placeholder,
.main-footer_form textarea:hover::placeholder {
    color: white;
}

.main-footer_form textarea {
    width: 500px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}